In [439]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [440]:
co2_df = pd.read_csv("./data/GCB2022v27_MtCO2_flat.csv")

In [441]:
co2_df.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [442]:
# Dropping all rows that have all of the following columsn as NaN
co2_df.dropna(how="all", subset=['Coal', 'Oil', 'Gas', 'Cement', 'Flaring', 'Other'], inplace=True)

In [443]:
# fixng ugly name, fixing the year column, making sure goes from 1960-2021
co2_df.rename({"ISO 3166-1 alpha-3":"CountryCode", "Total":"Total_MTCO2", "Per Capita":"MTCO2_per_cap"}, axis=1, inplace=True)
co2_df.Year = co2_df.Year.astype('int')
co2_df = co2_df.loc[(co2_df['Year'] >= 1959) & (co2_df['Year'] <= 2021)]

In [444]:
# Setting the country and year as the index
co2_df.set_index(['CountryCode','Year'], inplace=True)
co2_df.sort_values(['CountryCode','Year'], inplace=True)

In [445]:
gdp_per_cap_df = pd.read_csv("./data/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_5358417.csv")
gdp_per_cap_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,26515.678080,26942.307976,28421.386493,28451.273745,29326.708058,30220.594523,31650.760537,24487.863560,29342.100858,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,162.913034,162.551683,172.002460,199.189238,179.387799,198.230368,...,1730.394686,1719.183721,1538.552268,1443.692371,1628.586788,1564.734340,1512.270553,1363.540741,1549.772730,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,...,651.987862,628.146804,592.476537,520.252064,530.149831,502.056771,500.522664,516.866552,368.754614,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,106.976475,112.047561,117.730633,122.278715,130.599963,137.186142,...,2149.295219,2243.271464,1876.623483,1645.023767,1585.911930,1731.311792,1749.303317,1683.436391,1757.030626,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5101.983876,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1603.993477,1953.533757,NaN

In [446]:
# dropping unnecessary columns
gdp_per_cap_df.drop(['Indicator Name', 'Indicator Code', 'Unnamed: 66', "Country Name"], axis = 1, inplace=True)

In [447]:
# renamign columns
gdp_per_cap_df.rename({'Country Code':'CountryCode'}, axis=1, inplace=True)
gdp_per_cap_df.head()

,CountryCode,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25609.955724,26515.678080,26942.307976,28421.386493,28451.273745,29326.708058,30220.594523,31650.760537,24487.863560,29342.100858
1,AFE,162.913034,162.551683,172.002460,199.189238,179.387799,198.230368,209.414665,211.707060,224.239783,...,1759.182395,1730.394686,1719.183721,1538.552268,1443.692371,1628.586788,1564.734340,1512.270553,1363.540741,1549.772730
2,AFG,62.369375,62.443703,60.950364,82.021738,85.511073,105.243196,143.103233,167.165675,134.012768,...,663.141053,651.987862,628.146804,592.476537,520.252064,530.149831,502.056771,500.522664,516.866552,368.754614
3,AFW,106.976475,112.047561,117.730633,122.278715,130.599963,137.186142,142.895375,127.303606,128.365494,...,1953.407033,2149.295219,2243.271464,1876.623483,1645.023767,1585.911930,1731.311792,1749.303317,1683.436391,1757.030626
4,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4962.552072,5101.983876,5059.080441,3100.830685,1709.515534,2283.214233,2487.500996,2142.238757,1603.993477,1953.533757

In [448]:
#melting values to get same format as co2_country_year
gdp_per_cap_df = gdp_per_cap_df.melt(id_vars=['CountryCode'], var_name='Year', value_name='GDP_per_cap')

In [449]:
# making sure GDP_per_cap is a float
gdp_per_cap_df.GDP_per_cap = gdp_per_cap_df.GDP_per_cap.astype('float')

In [450]:
# setting index as same

gdp_per_cap_df.set_index(['CountryCode', 'Year'], inplace=True)
gdp_per_cap_df.sort_values(['CountryCode', 'Year'], inplace=True)

In [451]:
co2_df.join(gdp_per_cap_df)

                                  Country  Total_MTCO2  Coal         Oil  Gas  \
CountryCode Year
ABW         1959                    Aruba     0.719371   0.0    0.719371  0.0
            1960                    Aruba     0.618561   0.0    0.618561  0.0
            1961                    Aruba     0.645553   0.0    0.645553  0.0
            1962                    Aruba     0.708942   0.0    0.708942  0.0
            1963                    Aruba     0.679088   0.0    0.679088  0.0
...                                   ...          ...   ...         ...  ...
NaN         1988  Pacific Islands (Palau)     0.183200   0.0    0.183200  0.0
            1989  Pacific Islands (Palau)     0.227168   0.0    0.227168  0.0
            1990  Pacific Islands (Palau)     0.234496   0.0    0.234496  0.0
            1991        Kuwaiti Oil Fires   477.924832   0.0  451.104352  0.0
            1991  Pacific Islands (Palau)     0.234496   0.0    0.234496  0.0

                  Cement   Flaring  Other  MTCO2_per_cap  GDP_per_cap
CountryCode Year
ABW         1959     0.0   0.00000    NaN      13.561777          NaN
            1960     0.0   0.00000    NaN      11.327293          NaN
            1961     0.0   0.00000    NaN      11.566762          NaN
            1962     0.0   0.00000    NaN      12.507362          NaN
            1963     0.0   0.00000    NaN      11.815359          NaN
...                  ...       ...    ...            ...          ...
NaN         1988     0.0   0.00000    NaN       1.877025          NaN
            1989     0.0   0.00000    NaN       2.196758          NaN
            1990     0.0   0.00000    NaN       3.764869          NaN
            1991     0.0  26.82048    NaN       0.000000          NaN
            1991     0.0   0.00000    NaN       3.699420          NaN

[13481 rows x 10 columns]

In [454]:
co2_df.to_csv("./data/processed_data/co2_country_year.csv")